<main class="container col-md-8" id="content">
    <h3>Добавление товара</h3>
    <form action="/add" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Название</label>
        <input type="text" class="input-box" id="name" name="name" value="{{name}}">
    </div>
    <div class="mb-3">
        <label for="about-textarea" class="form-label">Описание</label>
        <textarea class="form-control" id="about-textarea" rows="3" name="description"
        value="{{description}}"></textarea>
    </div>
    <div class="mb-3">
        <label for="choose-foto" class="form-label">Фото</label>
        <div class="input-group">
            <input type="file" class="form-control" id="choose-foto" aria-describedby="btn-upload"
                   aria-label="Upload" name="image">
            <button class="btn btn-outline-secondary" type="button" id="btn-upload">Загрузить</button>
        </div>
    </div>

    <div class="mb-3 col-sm-6">
        <label for="item-name" class="form-label">Стоимость</label>
        <div class="input-group">
            <input type="number" class="form-control" name="price" id="price" value="{{price}}">
            <span class="input-group-text"> ₽</span>
        </div>
    </div>
    <div class="mb-3 col-sm-6">
        <label for="count" class="form-label">В наличии</label>
        <div class="input-group">
            <input type="number" class="form-control" id="count" name="count" value="{{count}}">
            <span class="input-group-text"> шт.</span>
        </div>
    </div>
    <div class="col col-md-6 form-check mb-4 align-self-end ">
        <input class="form-check-input" type="checkbox" value="" id="is-to-order">
        <label class="form-check-label" for="is-to-order">
            Изготавливается под заказ
        </label>
    </div>
    <div class="row justify-content-around mb-3">
        <div class="col-auto">
            <input type="reset" class="btn btn-secondary" value="Отмена">
        </div>
        <div class="col-auto ">
            <input type="submit" value="Сохранить" class="btn btn-primary">
        </div>
    </div>
    </form>
</main>
