<form action="/test" method="post" enctype="multipart/form-data">
    <label for="bbb">Enter name: </label>
    <input id="bbb" type="text" name="bbb" value={{bbb}}>
    <input type="submit" value="OK">

</form>